- if @user.admin?
  = render 'user_mailer/notification_user', title: "Hello! Your role has been submitted as admin", text: "Visit our site to view the latest news in the world of sport", action: "GO TO WEBSITE", navigateTo: root_url
- else
  = render 'user_mailer/notification_user', title: "Hello! Your role has been submitted as user", text: "Visit our site to view the latest news in the world of sport", action: "GO TO WEBSITE", navigateTo: root_url
