= render 'user_mailer/notification_user', title: "Hello! You have successfully registered to Sports Hub", text: "Now you will receive the latest news in the world of sport", action: "GO TO WEBSITE", navigateTo: new_user_session_url
