$('.move-team').bind('ajax:success', function(){
    $(this).closest('.team-label').fadeOut();
    $(".alert").hide();
    $(".admin-wrapper").prepend("<div class='alert alert-success alert-dismissible fade show position-fixed' role='alert'><span><%= notice %></span><button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button></div>")

})
