/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 */
.admin-wrapper{
  padding-left: 92px !important;
  padding-top: 120px;
  .info-wrapper{
    width: 300px;
    #nav-tab{
      .nav-link{
        width: 50%;
        color: #000;
      }
      .active{
        color: red;
      }
    }
    .card{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px;
      font-weight: 500;
      .info{
        .lable-info{
          color: #666666;
        }
      }
    }
  }
  .admin-tabs-table{
    tr:hover{
      -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
      box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
      cursor: pointer;
    }
    .sort{
      position: absolute;
      right: 5px;
      top: 14px;
      #actions{
        position: absolute;
        top: 25px;
        right: 0px;
        background-color: #fff;
        z-index: 5;
        li{
          width: 100px;
          padding: 0;
          font-size: 12px;
          span{
            font-weight: 500;
          }
          span:hover{
            background-color: #fff !important;
            color: #000 !important;
            cursor: default;
          }
          .action-item {
            text-align: left;
            color: #000;
            display: block;
            text-decoration: none;
            padding: 4px 5px 4px 15px;
            &:hover {
              background-color: #f4d0d4;
              color: #e05159;
            }
          }
        }
      }
    }
    .action-list{
      .dropdown-menu{
        padding: 0;
        transform: translate3d(0px, 31px, 0px) !important;
        border-radius: 0px;
      }
      .dropdown-item{
        width: 198px;
        height: 30px;
        padding: 4px 0px;
        text-align: center;
        font-size: 14px;
      }
      width: 200px;
      a{
        text-decoration: none;
        display: block;
      }
      .admin-role{
        background-color: #fae9eb;
        a{
          color: #de4f4e;
        }
      }
      .admin-delete{
        background-color: #d4d9e2;
        color: #3e4255;
      }
      .user-delete{
        background-color: #fae9eb;
        color: #e0535f;
        a{
          color: #e0535f;
        }
      }
      .user-active{
        background-color: #d4d9e2;
        color: #464646;
        a{
          color: #464646;
        }
      }
      .user-blocked{
        background-color: #dfecdd;
        a{
          color: #64ab3d;
        }
      }
      .user-blocked:hover{
        .arrow-absolute{
          color: #000;
        }
      }
      .user-role{
        background-color: #d4e7f1;
        a{
          color: #3f91c1;
        }
      }
      .arrow-absolute{
        position: absolute;
        right: 0;
        z-index: 1;
      }

    }
    .nav-tabs{
      border-bottom: none;
    }
    .search{
      justify-content: flex-end;
      .search-init{
        position: absolute;
        right: 18px;
        top: 10px;
        cursor: pointer;
      }
      .input-group{
        border: 1px solid lightgrey;
        border-radius: 6px;
        button, input{
          border: none;
        }
      }
    }
    .table{
      vertical-align: middle;
      border-left: 1px solid lightgrey;
      border-right: 1px solid lightgrey;
      thead{
        background-color: #f2f2f2;
        height: 30px;
        font-size: 14px;
        color: #515b6c;
        th{
          padding-top: 16px;
          padding-bottom: 16px;
        }
        th:first-child{
          width: 50%;
          padding-left: 20px;
        }
        th:nth-child(2),
        th:nth-child(3) {
          width: 25%;
          text-align: center;
        }
      }
      tbody{
        font-size: 14px;
        font-weight: 500;
        td:first-child{
          padding-left: 20px;
        }
        td:nth-child(2),
        td:nth-child(3) {
          text-align: center;
        }
      }
    }

    #nav-tab{
      .nav-link{
        width: 85px;
        color: #000;
        padding: 8px 0px;
        margin: 0;
        border: none;
        span{
          font-size: 14px;
          font-width: 500;
        }
      }
      .active{
        color: red;
        .underline{
          border-bottom: 2px solid red;
        }
      }
    }
  }
}
.admin-nav-bar{
  padding-top: 40px !important;
  border-right: 2px solid lightgray;
  width: 80px;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  padding-top: 56px !important;
}
.menu-item{
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  svg{
    color: lightgray;
  }
  &:hover{
    svg{
      color: red
    }
  }
}
.admin-side{
  .navbar{
    width: 100%;
    position: fixed;
    z-index: 5;
  }
}
.info-user-table {
  display: flex;
  align-items: center;
  .img-mask {
    width: 48px;
    height: 48px;
    padding: 2px;
    align-self: flex-start;
    margin-right: 5px;
    .activity{
      display: block;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      position: relative;
      border: 2px solid #fff;
      left: 30px;
      bottom: 15px;
    }
    .online{
      background-color: #68af0f;
    }
    .offline{
      background-color: #666666;
    }
  }
  .name-info{
    align-self: flex-end;
  }
}

button,
input,
textarea,
select,
.page-link,
.badge,
.btn{
  box-shadow: none !important;
}
select:focus{
  box-shadow: none !important;
}
